{{define "title"}}About{{end}}


{{define "main"}}

    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum ac imperdiet orci. Suspendisse tempor urna et odio dictum, in laoreet augue facilisis. Nullam eu tristique enim, vel facilisis massa. Suspendisse potenti. Curabitur ornare in ante vel sagittis. Nunc vel est eget mauris fermentum eleifend. Phasellus varius urna sit amet risus eleifend, fermentum iaculis ipsum blandit. Maecenas quis nibh eget eros tincidunt cursus eget in mauris.</p>

{{end}}
